@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


$btn-blue: #2C61E4;
$btn-blue-25: #4477F640;
$text-dark-blue: #364771;
$error: #DB3528;
$text-light-blue: #537FE9;
$white: #FFFFFF;
$offwhite-sixty: #FFFFFF99;
$h1-blue: #102352;
$table-title-blue: #04194D;
$off-white: #FCFDFE;
$light-blue: #F0F6FF;
$bg-off-white: #F3F4F6;
$hint-blue: #727894;
$small-text-gray: #797979;
$table-head-off-white: #F9F9F9;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$fs-50: 3.1rem;
$fs-32: 2rem;
$fs-24: 1.5rem;
$fs-22: 1.37rem;
$fs-20: 1.25rem;
$fs-18: 1.12rem;
$fs-16: 1rem;
$fs-14: 0.87rem;
$fs-12: 0.75rem;

$lh-38: 2.37rem;
$lh-27: 1.68rem;
$lh-16: 1rem;